
<div class="container">
    <div class="row justify-content-center">
     <div class="card" style="width: 18rem;">
         <img src="assets/img/mi-foto.jpg" class="card-img-top" alt="...">
         <div class="card-body">
           <h4 class="card-title">Nombre: </h4>
           <p class="card-text">Diego Fernando Anacona</p>
         </div>
       
       </div>
    </div>
 </div>
 
 <div class="m-lg-5">
     <div>
         <ul class="">
             <h4 class="mt-5">Datos personales</h4>
             <li class="">Cedula:  1074184063</li>
             <li>Telefono:  3233271529</li>
             <li>Correo: diefer123anacona@gmail.com</li>
           </ul>
     </div>
     <ul class="">
         <h4 class="mt-5">Estudios</h4>
             <li>Bachiller</li>
             <li>Estudiante de Ingenieria industrial</li>
             <li> Estudiante de Desarrollo web</li>
             
           </ul>
           <div class="card-body">
             <a href="#" class="card-link">link</a>
             <a href="#" class="card-link">Another link</a>
           </div>
 </div>
 
