


<div class="row row-cols-1 g-5 col-md-10 offset-md-1 text-white body">
    <h1 class="text-warning display-1 fw-bold ">Electronica</h1>
      <div class="col ">
          <div class="card shows-luces">
            <h1 class="">Los mejores escenarios de electrónica alrededor del mundo </h1>
            <img src="assets/img/ecenarios/img1.jpg" class="card-img-top" alt="...1">
            <div class="card-body">
            <h3 >Shows de luces y láser, juegos pirotécnicos y expriencias alucinantes que han definido la identidad visual de los festivales masivos del mundo.</h3>
            </div>
          </div>
        </div>
  
      <div class="col ">
          <div class="card shows-luces">
            <h2 class="text-center">... <br> QLIMAX </h2>
            <img src="assets/img/ecenarios/img2.jpg" class="card-img-top" alt="...2">
            <div class="card-body">
            <h3>La luz estroboscópica es la iluminación típicamente usada en conciertos de música electrónica.</h3>
            </div>
          </div>
        </div>
  
      <div class="col ">
        <div class="card shows-luces">
          <h2 class="text-center">... <br> STORM</h2>
          <img src="assets/img/ecenarios/img3.jpg" class="card-img-top" alt="...3">
          <div class="card-body">
          <h3 >Este escenario puede competir con todos los demás festivales gracias a su combinación de luces LED, láseres y luces giratorias. </h3>
          </div>
        </div>
      </div>
      <div class="col ">
        <div class="card shows-luces">
          <h2 class="text-center">... <br>MYSTERYLAND</h2>
          <img src="assets/img/ecenarios/img4.jpg" class="card-img-top" alt="...4">
          <div class="card-body">
          <h3 >Si hay algo por lo que es conocido Mysteryland es por su despliegue escenográfico. </h3>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="ratio ratio-16x9">
          <video src="assets/img/ecenarios/video1.mp4" controls></video>  
        </div>
      </div>
  
      <div class="col">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KS5sosIGF7s?start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
        </div>
      </div>
  
      <div class="col">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/H9IFrWB3mCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
  
      <div class="col">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/8sLO6ANdAnY?start=142" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col">
        <div class="ratio ratio-16x9">
  
        </div>
    </div>
  
  
      
  
