<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card">
        <img src="assets\img\refrescos\carlosV.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CarlosV</h5>
          <p class="card-text">Barra de chocolate semi-amargo</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets\img\refrescos\Chokis.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chokis</h5>
          <p class="card-text">Galletas con chispas de chocolate</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets\img\refrescos\coronita1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cerveza</h5>
          <p class="card-text">Coronita</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets\img\refrescos\Doritos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Doritos</h5>
          <p class="card-text">Tortilla chip</p>
        </div>
      </div>
    </div>
  </div>